flask
flask_cors
PyPDF2
langchain
langchain_community
langchain_google_genai
faiss-cpu




# def record_audio():
#     recognizer = sr.Recognizer()
#     mic = sr.Microphone()
#     with mic as source:
#         audio = recognizer.listen(source)
#     try:
#         query = recognizer.recognize_google(audio)
#         return query
#     except sr.UnknownValueError:
#         return "Could not understand audio"
#     except sr.RequestError:
#         return "Could not request results; check your network connection"

# def text_to_speech(text):
#     engine = pyttsx3.init()
#     engine.say(text)
#     engine.runAndWait()
#     return "Text to speech conversion complete"



# @app.route('/record_question', methods=['POST'])
# def record_question():
#     question = record_audio()
#     if "error" in question:
#         return jsonify({"error": question}), 400

#     session_id = str(uuid.uuid4())
#     response, context = user_input(question)
#     return jsonify({"response": response, "context": context, "session_id": session_id}), 200

# @app.route('/text_to_speech', methods=['POST'])
# def convert_text_to_speech():
#     data = request.json
#     text = data.get('text')
#     if not text:
#         return jsonify({"error": "No text provided"}), 400

#     response = text_to_speech(text)
#     return jsonify({"message": response}), 200